body {
    font-family: 'Dela Gothic One', cursive;
    background-color: #000;
    background-image: linear-gradient(45deg, #ffcc00, #ff0066, #9933cc, #33cc99);
    background-size: 400% 400%;
    text-align: center;
    margin: 0;
    padding: 0 18px;
    color: white;
    animation: backgroundAnimation 10s linear infinite alternate;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: #333;
    font-size: 32px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#upgrades {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#upgradeButton {
    background-color: #28a745;
}

#upgradeButton:hover {
    background-color: #218838;
}

#upgradeList {
    text-align: left;
}

#klickTitle {
    color: white;
}
